# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

ModuleNotFoundError: No module named 'gmaps'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
weather_data = pd.read_csv("../WeatherPy/output_data/cities.csv")
weather_data

,City_ID,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Baião,-2.79,-49.67,89.19,52,100,3.33,BR,1603305102
1,1,Butaritari,3.07,172.79,82.53,69,100,7.72,KI,1603304557
2,2,Banjar,-8.19,114.97,78.80,88,40,8.05,ID,1603305102
3,3,Delta,5.50,6.00,77.05,93,45,4.47,NG,1603305004
4,4,Sioux Lookout,50.10,-91.92,32.00,83,90,2.24,CA,1603305103
...,...,...,...,...,...,...,...,...,...,...
568,568,Novaya Bryan’,51.72,108.27,30.20,86,40,2.24,RU,1603305174
569,569,Chumikan,54.72,135.31,39.15,92,100,16.64,RU,1603305174
570,570,Pemangkat,1.17,108.97,79.00,85,100,4.70,ID,1603305175
571,571,Ambilobe,-13.20,49.05,76.55,69,80,5.86,MG,1603305175
572,572,Kalianget,-7.05,113.93,82.22,74,100,4.92,ID,1603305014

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure